* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

header {
  display: flex;
  background: #6575ef;
  width: 100%;
  height: 65px;
  font-family: "Comfortaa", sans-serif;
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px 0px 15px 0px;
  background: #484ee3;
  align-items: center;
  user-select: none;
}

header .logo {
  color: #fff;
  font-weight: 800;
  font-size: 2.6em;
  font-weight: 1000;
  font-style: normal;
  padding-left: 90px;
  cursor: pointer;
  
  
}


header a{
  text-decoration: none;
}

.nav-bar {
  padding-left: 100px;
  align-self: center;
}

header .nav-bar span {
  font-weight: 600;
  font-size: 1.3em;
  color: #fff;
  gap: 350px;
}

header .nav-bar a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3em;
  color: #fff;
  
  
}


header .nav-bar .hlinks:hover{
  border-bottom: 3px solid #fff;
  transition: .2s ease-in-out;
  
}



.header .nav-bar span,
a {
  padding: 20px;
}

.nav-bar select {
  border: 2.5px solid #fff;
  border-radius: 6px;
  outline: none;
  background: #fff;
  color: #6575ef;
  height: 30px;
  font-weight: 600;
}

.nav-bar select:hover {
  background: #fff;
  color: #6575ef;
}

.nav-bar select option {
  font-weight: 600;
  font-size: 1.3em;
}



.nav-bar a button {
  width: 100px;
  height: 35px;
  font-weight: 700;
  font-size: 1em;
  background: #fff;
  color: #6575ef;
  border: none;
  border-radius: 10px;
  padding-left: 600;
}

.nav-bar a button:hover {
  border: 2.5px solid #fff;
  background: none;
  color: #fff;
  transition: 0.4s ease-in;
}


.container1{
  width: 100%;
  height: 500px;
  background: #6575ef;
  opacity: 1;
	animation-name: fadein;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.3s;
}




@keyframes fadein{
	0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}


.container1 .text{
  width: 50%;
  height: 100%;
  float: left;
  align-content: center;
}


.container h1, h2, h4, .button{
  padding-left: 20px;
}


.container1 .avatar{
  width: 50%;
  height: 100%;
  float: left;
}

.container1 .avatar img{
  float: right;
  width: 100%;
  height: 100%;
}



.container1 .text h1{
  color: #fff;
  font-weight: 700;
  font-size: 3.5em;
}


.container1 .text h2{
  color: #000;
  font-weight: 600;
  font-size: 2.5em;
}


.container1 .text h4{
  color: #fff;
  font-weight: 400;
  font-size: 1.5em;
}


.container1 .button a button{
  background: #000;
  border: none;
  color: #fff;
  border-radius: 30px;
  height: 50px;
  width: 250px;
  font-size: 2em;
  font-weight: 500;
  
}




.container1 .button a button:hover{
  color: #6575ef;
  background: #fff;
  transition: all 0.6s ease;
}




.services{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.h1{
  font-size: 2.5em;
  font-weight: 600;
  color: #6575ef;
  padding-top: 50px;
}



.services .containers{
  background: #fff;
  box-shadow: 2px 2px 0px 1px #716e6e3f;
  height: 150px;
  width: 300px;
  border: 1px solid #b9b8b8a0;
  border-left: 8px solid #484ee3;
  border-radius: 20px;
  align-content: center;
  top: 50%;
  left: 50%;
 

}


.services .containers:hover{
  transform: perspective(500px)
             translateY(8px) 
             rotateY(10deg);
  transition: 1s ease; 
  
}


.containers .content{
  padding-left: 10px;
}




.whyus-container{
  background: #6575ef;
  width: 1200px;
  height: 400px;
  color: #6575ef;
  align-self: center;
  align-content: center;
}


.whyus{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.h12{
font-size: 2.5em;
font-weight: 600;
color: #fff;
padding-top: 50px;
}

.whyus .containers{
  background: #fff;
  box-shadow: 2px 2px 0px 1px #716e6e3f;
  height: 250px;
  width: 300px;
  border: 3px solid #6575ef;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  align-content: center;
 

}


.whyus .containers:hover{
  transform: perspective(500px)
             translateX(8px) 
             rotateX(360deg);
  transition: 2s ease; 
  
}


.whyus .containers h2{
  align-self: center;
  padding-right: 40px;
  font-weight: 700;
  font-size: 1.5em;
  color: #000;
}


.whyus .containers h2 img{
  width: 170px;
  height: 120px;
}


